:host {
  display: block;

  [part="label"] {
    display: block;
  }

  [part="input"] {}

  [part="details"] {
    font-size: .75rem;
  }

  [part="errors"] {
    font-size: .75rem;
    color: red;
  }

}
