:host {
  --size: 1rem;
  --border-color: #ccc;
  --chcecked-bg-color: transparent;
  --check-color: #000;
  --check-size: 50%;
  --check-width: 3px;
  --transition-duration: .2s;
  --transition-ease: ease-in-out;
  
  [part="label"] {
    display: flex;
    align-items: center;
  }

  [part="input"]:checked ~ [part="customInput"] {
    background-color: var(--chcecked-bg-color);
  }
  
  [part="input"]:checked ~ [part="customInput"] [part="customInputCheckmark"] {
    opacity: 1;
  }
  
  [part="customInput"] {
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--border-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    transition: background-color var(--transition-duration) var(--transition-ease);
    
    
  }
  
  [part="customInputCheckmark"] {
    display: inline-block;
    width: calc(var(--check-size) / 2);
    height: var(--check-size);
    border: solid var(--check-color);
    border-width: 0 var(--check-width) var(--check-width) 0;
    transform: rotate(45deg) translate(-10%, -10%);
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-ease);
  }
  
}
