:host {
    display: block;
    font-size: 1em;
    --selection-color: white;
    --selection-background-color: #007bff;
    
    
    * {
        box-sizing: border-box;
        
        &::-moz-selection,
        &::selection {
            color: var(--selection-color);
            background: var(--selection-background-color);
        }
    }
    
    [part^="label"] {
        display: block;
    }
    
    [part="input"] {
        width: 100%;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background-color: inherit;
    }
    
    [part^="details"] {
        font-size: .75rem;
    }
    
    [part="errors"] {
        font-size: .75rem;
        color: red;
    }
    
    
}
